@import "vars";

input[type=range][orient=vertical] {
  writing-mode: bt-lr; // IE
  -webkit-appearance: slider-vertical; // WebKit
  width: 100%;
  height: 100px;
  padding: 0 5px;
}


.toolbar {
  display: flex;
  flex-direction: column;

  > div {
    margin-bottom: 10px;
  }

  button.active {
    pointer-events: none;
  }
}

.toolbar-switch-cell-vis .btn {
  padding: 5px 0px;
}

.toolbar-transpose-cell .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 5px 0px;

  span {
    font-size: 10px;
    font-weight: 500;
  }
}

.toolbar-scaling-cell .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 5px 0px;

  span {
    font-size: 14px;
    font-weight: 400;
  }
}
